.cart {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 300ms ease-in, visibility 300ms ease-in;
}

.cart__opened {
  visibility: visible;
  opacity: 1;
}

.cart__container {

  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 90%; /* Ajuste para ocupar a largura total em dispositivos móveis */
  max-width: 600px; /* Limitando a largura em dispositivos maiores */
  max-height: 90%;
  margin: 5% auto;
  padding: 20px; /* Ajuste para uma margem interna menor */
  background: white;
  border-radius: 10px;
  position: relative;
}

.cart__image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.cart__close-button {
  position: absolute;
  left:20px;
  background: none;
  border: none;
  align-self: flex-end;
  cursor: pointer;
}

.cart__discount {
  display: flex;
  align-items: center;
}

.cart__discount-button {
  border-radius: 5%;
  padding: 0 2%;
  height: 30px; /* Ajuste da altura para dispositivos móveis */
  background-color: #2980b9;
}

.cart__container ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.cart__container li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.cart__container li:last-child {
  border-bottom: none;
}

.cart__container input[type='text'] {
  width: calc(100% - 22px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.cart__container button:nth-of-type(2):hover {
  background-color: #2980b9;
}

.discount-message {
  color: green;
  font-size: 14px;
  margin-top: 10px;
}

.cart__checkout{
  margin-top: 3rem;
  background-color: #36454f;
  padding-inline: 1rem;
  padding-block: 0.6rem;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  transition: 250ms ease-in-out;
}

.cart__checkout_inactive{
  pointer-events: none;
  background-color: lightgray;
}


.cart__checkout:hover{
  background-color: #516978;
}

@media screen and (min-width: 500px) {
  .cart__container {
    width: 70%;
  }
}
