@keyframes cardsIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.featured {
  padding: 1rem;
  background-color: #dfddd2;
}

.featured__title {
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.featured__card-list {
  display: flex;
  justify-content: space-evenly;
  column-gap: 2rem;
  row-gap: 2rem;
  flex-wrap: wrap;
  overflow: hidden;
  margin-bottom: 2rem;
}

.fetureed__store-link {
  text-decoration: none;
  color: #454545;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin: auto;
}

@media screen and (min-width: 880px) {
  .fetureed__store-link {
    justify-content: end;
    max-width: 970px;
  }

  .featured__card-list {
    flex-direction: row;
    gap: 2rem;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 2.5rem;
  }
}
