@keyframes cardsIn {
  from{
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
  
}

.featured {
  padding: 1rem;
  background-color: #d3d2cd;
}

.featured__title {
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.featured__card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-bottom: 2rem;
}


.featured__icon {
  width: 25px;
  height: 25px;
}



@media screen and (min-width: 880px) {
  .featured {
    padding: 3rem;
  }

  .featured__title {
    font-size: 2rem;
    margin-bottom: 4rem;
  }

  .featured__card-list {
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 4rem;
    flex-wrap: wrap;
  }
}
