.footer {
  background-color: #4a624c;
  display: flex;
  padding: 35px;
  color: white;
  justify-content: space-between;
  text-align: left;
}

.footer__columns {
  display: flex;
  column-gap: 20px;
}

.footer__column {
  display: flex;
  column-gap: 5px;
}

.footer__column-social {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer__social {
  display: flex;
  column-gap: 15px;
}

.footer__icon {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 880px) {
  .footer {
    display: grid;
    grid-template-areas:
      'contact'
      'social';
  }
  .footer__columns {
    grid-area: contact;
    margin-bottom: 40px;
  }
  .footer__column-social {
    grid-area: social;
  }
}
