.header {
  background-color: #dfddd2;
}

.header__top {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1.5rem;
  padding-bottom: 3rem;
}

.header__logo {
  position: absolute;
  left: calc(50vw - 118px);
}

.search-icon {
  width: 30px;
  height: 30px;
}

.account-icon {
  width: 26px;
  height: 26px;
}

button:first-child {
  margin-right: 1.5rem;
}

.header__search-container {
  display: flex;
  align-items: center;
}
.header__search {
  display: flex;
}

.header__form {
  display: flex;
  transition: 250ms ease-out;
  position: absolute;
  margin-left: 60px;
  bottom: 1;
  left: 0;
}

.header__form_inactive {
  display: flex;
}
.header__hamburguer {
  display: none;
}
.header__menu {
  display: none;
}
.header__line {
  margin: 0 auto;
  width: 100%;
  height: 1px;
  background: #545454;
}

@media screen and (max-width: 880px) {
  .header__hamburguer {
    display: flex;
  }
  .header__menu_open {
    display: flex;
    justify-content: center;
  }
}
