.main {
  width: 100%;
  height: 400px; /* Redução da altura para dispositivos móveis */
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('https://images.unsplash.com/photo-1542601906990-b4d3fb778b09?q=80&w=1913&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centralizando o conteúdo */
  justify-content: center;
  padding: 0 1rem; /* Ajuste do padding para dispositivos móveis */
}

.main__title {
  color: white;
  font-size: 2rem; /* Redução do tamanho do título para dispositivos móveis */
  text-align: center; /* Centralizando o título */
}

.main__subtitle {
  color: white;
  text-align: center; /* Centralizando o texto */
  font-weight: 300;
  width: 100%; /* Ajuste da largura para ocupar a largura total do contêiner */
  max-width: 70ch; /* Limitando a largura máxima */
}

@media screen and (min-width: 880px) {
  .main {
    background-size: cover;
    padding: 0 8rem;
    height: 600px;
    align-items: flex-start;
  }
  .main__title {
    font-size: 48px;
  }
  .main__subtitle {
    width: 70%;
    text-align: left;
  }
}
