.mapsInfo {
  display: flex;

  flex-direction: column;
  padding: 10%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(3, 0, 2, 0.7)),
    url('../../public/assets/findMap.svg') no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  align-items: flex-start;
  text-align: left;
  column-gap: 20px;
  height: 400px;
}

.mapsInfo h1 {
  font-weight: 300;
}

.mapsInfo__container {
  width: 90%;
  padding: 10px;
}

.mapsInfo__paragraph {
  margin-bottom: 20px;
}

.mapsInfo__button {
  width: 100%;
  height: 38px;
  color: white;
  text-decoration: none;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid white;
}

@media screen and (min-width: 880px) {
  .mapsInfo {
    justify-content: center;
    height: 530px;
  }

  .mapsInfo__container {
    width: 60%;
    text-align: left;
  }
}
