.mapsInfo {
  display: flex;
  flex-direction: column;
  padding: 10%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(3, 0, 2, 0.8)),
    url('../../public/assets/findMap.svg') no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  align-items: flex-start;
  text-align: left;
  column-gap: 20px;
  height: 400px; /* Redução da altura para dispositivos móveis */
}

.mapsInfo__container {
  width: 90%; /* Ajuste da largura para ocupar a largura total do contêiner */
  padding: 10px; /* Ajuste do preenchimento para dispositivos móveis */
}

.mapsInfo__paragraph {
  margin-bottom: 20px; /* Redução da margem inferior para dispositivos móveis */
}

.mapsInfo__button {
  width: 100%; /* Ajuste da largura para ocupar a largura total do contêiner pai */
  height: 38px;
  color: white;
  text-decoration: none;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid white;
}

@media screen and (min-width: 880px) {
  .mapsInfo {
    justify-content: center;
    height: 530px; /* Ajuste da altura para telas maiores */
  }

  .mapsInfo__container {
    width: 60%; /* Redução da largura para telas maiores */
    text-align: left;
  }
}
