.search-container {
  display: none;
}

.search__form {
  display: flex;
  transition: 250ms ease-out;
}

.search-icon {
  width: 30px;
  height: 30px;
}

@media screen and (min-width: 881px) {
  .search-container {
    display: flex;
    align-items: center;
  }

  .search__form {
    display: flex;
    transition: 250ms ease-out;
    position: absolute;
    margin-left: 24px;
    bottom: 1;
    left: 0;
  }
}
