.maps__container {
  display: flex;
  flex-direction: column;
  background-color: #d3d2cd;
  padding: 5%;
}

.maps {
  width: 966px;
  height: 544px;
  align-self: center;
}

.maps__info {
  display: flex;
  padding-bottom: 5%;
  flex-direction: column;
  align-items: center;
}
.maps__text-container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin: 32px 0;
  background-color: #ffffff3d;
  border-radius: 10px;
  padding: 30px;
}
.maps__text {
  display: flex;
  column-gap: 10px;
}

.maps__title {
  margin-right: 15px;
  font-size: 50px;
}

.maps__subtitle {
  display: flex;
  text-align: left;
}

@media screen and (max-width: 880px) {
  .maps {
    width: 500px;
    height: 250px;
  }
}

@media screen and (max-width: 500px) {
  .maps {
    width: 350px;
    height: 250px;
  }
}
