@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,700;1,700&display=swap" rel="stylesheet');

:root {
  font-family: 'Inter';
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;

  color-scheme: light dark;
  color: #111c12;
  background-color: #dfddd2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}
